/* Общие стили */
* {
    margin: 0; /* Убираем внешние отступы для всех элементов */
    padding: 0; /* Убираем внутренние отступы для всех элементов */
    box-sizing: border-box; /* Границы и отступы включаются в общую ширину элемента */
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Arial, sans-serif; /* Основной шрифт для всего сайта */
    line-height: 1.6; /* Высота строки для лучшей читаемости */
    /*background-color: #1e1f20; Цвет фона страницы (легкий серый) */
     background-color: #f4f4f4;/* Цвет фона страницы (легкий серый) */
    color: #333; /* Основной цвет текста (темно-серый) */
    height: 3000px;
}


.container {
    width: 90%; /* Ширина контейнера занимает 90% родительского элемента */
    max-width: 1200px; /* Максимальная ширина контейнера (для адаптивности) */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

.header {
    background: #ffffff;  /*Фон заголовка — белый */
    /*background: #3c3f49;  Фон заголовка — белый */
    color: #9e5cb0; /* Цвет текста в заголовке (фиолетовый оттенок) */
    padding: 1rem 0; /* Внутренний отступ сверху и снизу */
    position: relative; /* Относительное позиционирование для дочерних элементов */
}

.top-bar {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределяем элементы между левым и правым краями */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.left-section {
    display: flex; /* Левая часть верхней панели (логотип и навигация) */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.logo {
    display: flex; /* Логотип и текст "Through the heart" */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: #9e5cb0; /* Цвет текста логотипа (фиолетовый оттенок) */
}

.logo img {
    height: 60px; /* Высота изображения логотипа */
    margin-right: 10px; /* Отступ между логотипом и текстом */
}

.logo span {
    font-size: 1.5rem; /* Размер шрифта для текста "Through the heart" */
}

.main-nav {
    margin-left: 20px; /* Отступ между логотипом и навигацией */
}

.nav-links {
    list-style: none; /* Убираем маркеры списка */
    display: flex; /* Располагаем пункты меню горизонтально */

}

.nav-links li {
    margin-left: 1rem; /* Отступ между пунктами меню */
    
}

.nav-links a {
    color: #9e5cb0; /* Цвет ссылок в меню (фиолетовый оттенок) */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-size: 1rem; /* Размер шрифта для ссылок */

}

.nav-links a:hover, .open-form-btn:hover{
    text-decoration: underline; /* Подчеркиваем ссылку при наведении */
    border: none; /* Убираем границу */
}


.open-form-btn{
    border: none; /* Убираем границу */
    background-color: transparent; /* Убираем фон у иконок */
    color: #9e5cb0; /* Цвет ссылок в меню (фиолетовый оттенок) */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-size: 1rem; /* Размер шрифта для ссылок */
    cursor: pointer;
}

.right-section {
    display: flex; /* Правая часть верхней панели (иконки и телефон) */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.icon {
    display: inline-flex; /* Иконки соцсетей */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: center; /* Выравниваем содержимое по центру по вертикали */
    width: 2.65em; /* Ширина иконки */
    height: 2.65em; /* Высота иконки */    
    margin-right: 10px; /* Отступ между иконками */
    background-color: transparent; /* Убираем фон у иконок */
}

.icon svg{
    width: 80%; /* Изображение заполняет всю ширину иконки */
    object-fit: cover; /* Сохраняем пропорции изображения */
    filter: none; /* Убираем фильтры (например, цветовые эффекты) */
    fill:#8a4da7;
    transition: width 0.3s ease, fill 0.3s ease;
}

.icon svg:hover{
    fill:#d086e5;
    width: 2.6em; /* Ширина иконки */
}


.phone {
    display: flex; /* Блок с номером телефона */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    margin-left: 10px; /* Отступ слева от блока телефона */
}

.phone img {
    margin-right: 5px; /* Отступ между иконкой телефона и текстом номера */
}

.hero {
    text-align: center; /* Выравниваем текст по центру */
    padding: 5rem 0; /* Внутренний отступ сверху и снизу */
}

.hero h2 {
    font-size: 2.5rem; /* Размер шрифта для заголовка */
    margin-bottom: 1rem; /* Отступ снизу от заголовка */
}

.hero p {
    font-size: 1.2rem; /* Размер шрифта для текста */
    margin-bottom: 2rem; /* Отступ снизу от текста */
}

.btn {
    background: #9e5cb0; /* Фон кнопки (фиолетовый оттенок) */
    color: #fff; /* Цвет текста на кнопке (белый) */
    padding: 0.8rem 1.5rem; /* Внутренние отступы кнопки */
    border: none; /* Убираем границу */
    border-radius: 20px; /* Закругляем углы кнопки */
    cursor: pointer; /* Добавляем указатель мыши в виде руки */
    font-size: 1rem; /* Размер шрифта текста на кнопке */
    transition: background 0.3s ease, transform 0.3s ease; /* Анимация фона и масштабирования */
}

.btn_form {
    background: #9e5cb0; /* Фон кнопки (фиолетовый оттенок) */
    color: #fff; /* Цвет текста на кнопке (белый) */
    padding: 0.8rem 1.5rem; /* Внутренние отступы кнопки */
    border: none; /* Убираем границу */
    border-radius: 20px; /* Закругляем углы кнопки */
    cursor: pointer; /* Добавляем указатель мыши в виде руки */
    font-size: 1rem; /* Размер шрифта текста на кнопке */
    transition: background-color 0.3s ease,box-shadow 0.3s ease, transform 0.3s ease; /* Анимация фона и масштабирования */
}

.btn_form:hover{
    box-shadow: 0 0 10px 0 #851ca2;
    transform: scale(1.05);
    background-color:#b26fc5;
}
.btn:hover {
    background: #8a4da7; /* Темный фиолетовый фон при наведении */
    transform: scale(1.1); /* Небольшое увеличение кнопки при наведении */
}

.services {
    padding: 3rem 0; /* Внутренние отступы для секции услуг */
}

.service-list {
    display: flex; /* Располагаем услуги горизонтально */
    gap: 1.5rem; /* Расстояние между услугами */
    justify-content: space-between; /* Равномерно распределяем услуги */
}

/* Стили для карточек услуг */
.service-item {
    background: #9e5cb0; /* Фон карточки услуги (фиолетовый оттенок) */
    color: #fff; /* Цвет текста в карточке (белый) */
    border-radius: 8px; /* Закругляем углы карточки */
    overflow: hidden; /* Обрезаем содержимое, если оно выходит за границы */
    transition: transform 0.3s ease; /* Анимация увеличения карточки */
    cursor: pointer; /* Добавляем указатель мыши в виде руки */
    width: calc(33% - 2rem); /* Ширина карточки (33% минус отступы) */
    position: relative; /* Для позиционирования элементов внутри карточки */
}

.service-item:hover {
    transform: scale(1.05); /* Небольшое увеличение карточки при наведении */
}

.service-item img {
    width: 100%; /* Изображение заполняет всю ширину карточки */
    height: 200px; /* Высота изображения */
    object-fit: cover; /* Сохраняем пропорции изображения */
}

.service-item h2 {
    margin: 1rem 0; /* Отступы вокруг заголовка услуги */
    font-size: 1.2rem; /* Размер шрифта заголовка */
    text-align: center; /* Выравниваем текст по центру */
}

.service-item p {
    margin-bottom: 1rem; /* Отступ снизу от текста цены */
    text-align: center; /* Выравниваем текст по центру */
}

/* Кнопка "Подробнее" */
.service-item .btn-more {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item:hover .btn-more {
    opacity: 1;
}

.service-item .btn-more a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer(низ 2025) */
.footer {
    background: #9e5cb0; /* Фон футера (фиолетовый оттенок) */
    color: #ffffff; /* Цвет текста в футере (белый) */
    text-align: center; /* Выравниваем текст по центру */
    padding: 1rem 0; /* Внутренние отступы футера */
}


/* Секция с формой */
.form-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    pointer-events: none; /* Отключаем взаимодействие с элементами */
}


/* Ключевые кадры для появления */
@keyframes form_slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ключевые кадры для исчезновения */
@keyframes form_slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}


/* Ключевые кадры для появления */
@keyframes background_opacity_In {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Ключевые кадры для исчезновения */
@keyframes background_opacity_Out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Полупрозрачный фон */
.alpha-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 34, 0.7); /* Начинается с прозрачного фона */
    transition: background-color 0.4s ease; /* Плавное изменение фона */
    opacity: 0;
}

/* Полупрозрачный фон */
.alpha-background.hidden{
    animation: background_opacity_Out 0.4s ease forwards; /* Анимация при исчезновении */
}
/* Анимация появления */
.alpha-background.show{
    animation: background_opacity_In 0.8s ease forwards; /* Анимация при появлении */
}
/* Полупрозрачный фон */
.form-container.hidden{
    animation: form_slideOut 0.4s ease forwards; /* Анимация при исчезновении */
}
/* Анимация появления */
.form-container.show {
    animation: form_slideIn 0.8s ease forwards; /* Анимация при появлении */
}
.form-section.hidden{
    pointer-events: none; /* Отключаем взаимодействие с элементами */
}
.form-section.show{
    pointer-events:all /* Отключаем взаимодействие с элементами */
}

/* Контейнер формы */
.form-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-50px); /* Начальное положение: смещено вверх */
    transition: transform 0.4s ease; /* Плавное перемещение */
    opacity: 0;
}


.form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.input-group textarea {
    resize: none;
    height: 100px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: #9e5cb0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #6e407a;
}


.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.hidden {
    display: none;
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
